<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Test Run</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style type="text/css">
        {{template "cssthing"}}

    </style>
    <script>
        jQuery.fn.highlight = function (pat) {
            function innerHighlight(node, pat) {
                var skip = 0;
                if (node.nodeType == 3) {
                    var pos = node.data.toUpperCase().indexOf(pat);
                    if (pos >= 0) {
                        var spannode = document.createElement('span');
                        spannode.className = 'highlight';
                        var middlebit = node.splitText(pos);
                        var endbit = middlebit.splitText(pat.length);
                        var middleclone = middlebit.cloneNode(true);
                        spannode.appendChild(middleclone);
                        middlebit.parentNode.replaceChild(spannode, middlebit);
                        skip = 1;
                    }
                }
                else if (node.nodeType == 1 && node.childNodes && !/(script|style)/i.test(node.tagName)) {
                    for (var i = 0; i < node.childNodes.length; ++i) {
                        i += innerHighlight(node.childNodes[i], pat);
                    }
                }
                return skip;
            }
            return this.each(function () {
                innerHighlight(this, pat.toUpperCase());
            });
        };

        jQuery.fn.removeHighlight = function () {
            function newNormalize(node) {
                for (var i = 0, children = node.childNodes, nodeCount = children.length; i < nodeCount; i++) {
                    var child = children[i];
                    if (child.nodeType == 1) {
                        newNormalize(child);
                        continue;
                    }
                    if (child.nodeType != 3) { continue; }
                    var next = child.nextSibling;
                    if (next == null || next.nodeType != 3) { continue; }
                    var combined_text = child.nodeValue + next.nodeValue;
                    new_node = node.ownerDocument.createTextNode(combined_text);
                    node.insertBefore(new_node, child);
                    node.removeChild(child);
                    node.removeChild(next);
                    i--;
                    nodeCount--;
                }
            }

            return this.find("span.highlight").each(function () {
                var thisParent = this.parentNode;
                thisParent.replaceChild(this.firstChild, this);
                newNormalize(thisParent);
            }).end();
        };
    </script>

</head>

<body class="mdl-demo mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header mdl-layout__header--scroll mdl-color--primary">
            <div class="mdl-layout--large-screen-only mdl-layout__header-row">
                <h3>Test Results: {{.Report.Name}}
                    {{ if .Report.PR }}
                    <a href="https://{{.Report.RepoName}}/pull/{{.Report.PR}}">{{.Report.PR}}</a>
                    {{ end }}
                </h3>
                <pre>
                    {{ if .Report.Details }}
                    {{ .Report.Details }}
                    {{ end }}
                </pre>
            </div>
        </header>
        <main class="mdl-layout__content">
            <div class="mdl-layout__tab-panel is-active" id="overview">
            {{range $resultType, $results := .Results}}
                <section id="{{$resultType}}section" class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
                    <div class="mdl-card mdl-cell mdl-cell--12-col">
                        <div class="mdl-card__title mdl-color--red-500 mdl-color-text--white test-section-header">
                            <h2 class="mdl-card__title-text">Test {{$resultType}} ({{ len $results }}/{{ $.TotalTests }})</h2>
                        </div>
                        <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing test-results">
                                    <div  id="failtableofcontent">
                                        <ul>
                                            {{range $i,$r :=$results}}
                                            <li><a href="#{{$resultType}}testwindow{{$i}}">{{ $r.TestName }}</a>  - {{$r.Duration}}</li>
                                            {{end}}
                                        </ul>
                                    </div>
                            
                            {{range $i,$r :=$results}}
                            <script type="text/javascript">
                                $(function() {
                                    $('#{{$resultType}}searchbox{{$i}}').bind('keyup change', function(ev) {
                                        // pull in the new value
                                        var searchTerm = $(this).val();
                                
                                        // remove any old highlighted terms
                                        $('#{{$resultType}}testcontent{{$i}} pre').removeHighlight();
                                
                                        // disable highlighting if empty
                                        if ( searchTerm ) {
                                            // highlight the new term
                                            $('#{{$resultType}}testcontent{{$i}} pre').highlight( searchTerm );
                                        }
                                    });
                                });
                            </script>

                            {{ if gt $i 0}}
                            <div class="mdl-grid">
                                <div class="jumpup">
                                    <a href="#{{$resultType}}section"><i class="fa fa-arrow-up"></i></a>
                                </div>
                            </div>
                            {{end}}

                            <div id="{{$resultType}}testwindow{{ $i }}" class="window wd{{ mod $i 2 -}}">
                                <div class="titlebar collapsible">
                                    <div class="buttons">
                                        <div class="close">
                                            <a class="closebutton" href="#"><span><strong>x</strong></span></a>
                                            <!-- close button link -->
                                        </div>
                                        <div class="minimize">
                                            <a class="minimizebutton" href="#"><span><strong>&ndash;</strong></span></a>
                                            <!-- minimize button link -->
                                        </div>
                                        <div class="zoom">
                                            <a class="zoombutton" href="#"><span><strong>+</strong></span></a>
                                            <!-- zoom button link -->
                                        </div>
                                    </div>                                
                                    <!-- window title -->
                                </div>
                                <div>
                                <div class="mdl-grid ">
                                    <input size="30" id="{{$resultType}}searchbox{{$i}}" class="search_box" type="text" placeholder="🔍 search... ">

                                </div>
                                <div id="{{$resultType}}testcontent{{ $i }}" class="content">
                                            {{range $r.Events}}
                                            <pre>{{ .Output }}</pre>
                                            {{end}}
                                </div>
                                </div>
                            </div>
                            {{end}}
                        </div>
                    </div>
                </section>
            {{end}}
            </div>

        </main>
        <div class="mdl-js-snackbar mdl-snackbar copy-success" data-upgraded=",MaterialSnackbar">
            <div class="mdl-snackbar__text">Copied to clipboard</div>
        </div>
    </div>
    <script type="text/javascript">
        var headers = document.querySelectorAll('.test-section-header');

        Array.from(headers).forEach(function (link) {
            link.addEventListener('click', function (_) {
                link.parentNode.classList.toggle('hidden-section');
            });
        });
    </script>

    <script>

        var coll = document.getElementsByClassName("collapsible");
        var i;

        for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.display === "block") {
                    content.style.display = "none";
                } else {
                    content.style.display = "block";
                }
            });
        }
    </script>

    <div class="mdl-mega-footer">
        Report generated on {{.CreatedOn.Format "Jan 02, 2006 15:04:05"}}
        <br>By <a href="https://github.com/medyagh/gopogh/">Gopogh {{.BuildVersion}} </a>
    </div>
</body>

</html>