goprettyorgohome
gopogh
output.html
gopogh-linux-amd64
gopogh-darwin-amd64
gopogh.exe
testdata/minikube-logs.json 
testdata/minikube-logs2.json 
testdata/minikube-logs2.html
testdata/minikube-logs2.out
summary.json