on:
  pull_request:
    paths:
      - "**.go"
      - "**.yml"
name: Build PR
jobs:
  build:
    name: Build binaries
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@master
      - name: Set up Go
        uses: actions/setup-go@v1
        with:
          go-version: '1.14.6'
          stable: true
        id: go
      - name: install rice
        run: | 
          go get github.com/GeertJohan/go.rice
          go get github.com/GeertJohan/go.rice/rice
      - name: Cross Platform Build
        run: |
          export PATH=$PATH:$(go env GOPATH)/bin
          make cross
      - name: Test
        run: |
          export PATH=$PATH:$(go env GOPATH)/bin
          make test 
      - uses: LanceMcCarthy/Action-AzureBlobUpload@v1.8.0
        name: Uploading to Azure storage...
        with:
          connection_string: ${{ secrets.az_connection_string }}
          container_name: gopogh
          source_folder: ./out
          destination_folder: /pr/${{github.event.number}}
          clean_destination_folder: true
          fail_if_source_empty: true