on:
  push:
    # Sequence of patterns matched against refs/tags
    tags:
      - 'v*' # Push events to matching v*, i.e. v1.0, v20.15.10

name: Create Release
jobs:
  build:
    name: Create Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@master
      - name: Fetch Git Tags
        run: |
          git fetch --prune --unshallow --tags
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
      - name: Test
        run: |
          export PATH=$PATH:$(go env GOPATH)/bin
          make test
          make clean
      - name: Cross Platform Build
        run: |
          export PATH=$PATH:$(go env GOPATH)/bin
          make cross
      - name: Upload Linux amd64 
        uses: actions/upload-artifact@v6
        with:
          name: "gopogh-linux-amd64"
          path: ./out/gopogh-linux-amd64
      - name: Upload Linux arm64
        uses: actions/upload-artifact@v6
        with:
          name: "gopogh-linux-arm64"
          path: ./out/gopogh-linux-arm64
      - name: Upload Linux arm
        uses: actions/upload-artifact@v6
        with:
          name: "gopogh-linux-arm"
          path: ./out/gopogh-linux-arm
      - name: Upload Darwin
        uses: actions/upload-artifact@v6
        with:
          name: "gopogh-darwin-amd64"
          path: ./out/gopogh-darwin-amd64
      - name: Upload Darwin M1
        uses: actions/upload-artifact@v6
        with:
          name: "gopogh-darwin-arm64"
          path: ./out/gopogh-darwin-arm64
      - name: Upload windows
        uses: actions/upload-artifact@v6
        with:
          name: "gopogh.exe"
          path: ./out/gopogh.exe
      - name: Create Release
        uses: softprops/action-gh-release@v2
        env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # This token is provided by Actions, you do not need to create your own token
        with:
          body: |
              ${{ github.ref }}
              mac os
              curl -LO https://github.com/medyagh/gopogh/releases/download/${{ github.ref }}/gopogh-darwin-amd64 && sudo install gopogh-darwin-amd64 /usr/local/bin/gopogh
          files: ./out/*
      - name: Publish gopogh to Docker Repository
        uses: elgohr/Publish-Docker-Github-Action@v5
        with:
          name: medyagh/gopogh
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_PASSWORD }}
          tag_names: true
      - name: Publish gopogh-server to Docker Repository
        uses: elgohr/Publish-Docker-Github-Action@v5
        with:
          name: medyagh/gopogh-server
          dockerfile: Dockerfile.server
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_PASSWORD }}
          tag_names: true
